.no-records-found {
    position: absolute;
    top: 50%;                    
    transform: translateY(-50%); 
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.table-eleave td:last-child {
    text-align: center;  
}

.action-buttons {
  text-align: center;  
}

.ui-grid {
    border: none;
}

.ui-grid-top-panel {
    background: none;
}

.ui-grid-header {
    border-bottom: 2px solid #ddd; 
}

.ui-grid-header-cell {
    border-right: none;
}

.ui-grid-cell {
    border-right: none;
}

.panel-primary {
    border-color: #444444;
}

.panel-primary  > .panel-heading {
    background-color: #444444;
    border-color: #444444;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal-left-submit-btn {
    text-align: right;
}

.formly.row{
  display:block;
}
