.no-records-found {
  text-align: center;
}

.table-eleave td:last-child {
  text-align: center;  
}

.panel-primary {
    border-color: #444444 !important;
}

.panel-primary  > .panel-heading {
     background-color: #444444 !important;
     border-color: #444444 !important;
}

.breadcrumb {
    background-color: #444444;
}

.breadcrumb > .active {
    color: #fff;
}

.breadcrumb > li > a {
    color: #9d9d9d;
}

.breadcrumb > li > a:hover, .breadcrumb > li > a:focus {
    color: #fff;
    background-color: transparent;
}
