<div class="modal-header">
    <button type="button" ng-click="vm.cancel()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{vm.dialog.title}}</h4>
</div>
<div class="modal-body">
    <form ng-submit="vm.apply()" name="vm.leaveTypeForm" novalidate>
        <formly-form model="vm.leaveType" fields="vm.leaveTypeFields" form="vm.leaveTypeForm">
            <div class="modal-left-submit-btn">
                <button class="btn btn-success" type="submit" ng-disabled="vm.leaveTypeForm.$invalid">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-primary" type="button" ng-click="vm.cancel()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>    
        </formly-form>    
    </form>
</div>
<div class="modal-footer">

</div>
