<div class="container" ng-controller="EmployeesController">

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div>
                <h4>Employees</h4>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="employeesTableId" ui-grid="gridOptions" class="grid">
                        <div class="no-records-found" ng-show="!gridOptions.data.length">No matching records found.</div>
                    </div>
                    <br>
                    <button type="button" ng-click="add()" class="btn btn-xs btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>