<div class="container" ng-controller="AdminLeaveTypesController">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="fa fa-header">
                <h4>Leave Types</h4>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <table st-table="leaveTypes" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Days Allowed</th>
                                <th>Comment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="leaveType in leaveTypes">
                                <td>{{leaveType.id}}</td>
                                <td>{{leaveType.leaveTypeName}}</td>
                                <td>{{leaveType.defaultDaysAllowed}}</td>
                                <td>{{leaveType.comment}}</td>
                                <td>
                                    <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="no-records-found" ng-show="!leaveTypes.length">
                                <td colspan="4">No matching records found.</td>    
                            </tr> 
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>