<div class="container about">
    <div class="row">

        <div class="col-lg-6">
            <a ui-sref=".mario">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </a>
            <h2>Mariusz Danielewski</h2>
        </div>

        <div class="col-lg-6">
            <a ui-sref=".seba">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </a>
            <h2>Sebastian Szlachetka</h2>
        </div>
    </div> 
</div>
<div class="container">
    <div ui-view></div>
</div>

