@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

body{
    font-family: 'Open Sans', sans-serif;
    background: #eeeeee;
    font-size: 14px;
}

.navbar-fixed-top {
    border: 0;
}

.container .jumbotron{
    background: #444444;
    border-radius: 0;
}

.jumbotron h1{
    color: #ffffff;
}

.jumbotron p{
    color: #cccccc;
}

.breadcrumb {
    background-color: #444444;
}

.breadcrumb > .active {
    color: #fff;
}

.breadcrumb > li > a {
    color: #9d9d9d;
}

.breadcrumb > li > a:hover, .breadcrumb > li > a:focus {
    color: #fff;
    background-color: transparent;
}
